In [75]:
print('hello')
import numpy as n;
a=[1,8,9,34,45]
for b in ['red','yello','green','tetra']:
    print(b)
    

list1=['apple','3f45',45,56,'mango',[4,45,66]]
print(list1)
list1.remove('apple');
print(list1)
list1.insert(9,'12')
list1.insert(len(list1),5)
list1.append("hello")
print(list1)
list1.find('apple')

hello
red
yello
green
tetra
['apple', '3f45', 45, 56, 'mango', [4, 45, 66]]
['3f45', 45, 56, 'mango', [4, 45, 66]]
['3f45', 45, 56, 'mango', [4, 45, 66], '12', 5, 'hello']

AttributeError: 'list' object has no attribute 'find'

In [8]:
b=s in range(6)
print(b)

NameError: name 's' is not defined

In [9]:
#REPL read eveluate  print loop

print(3+8)

11

In [53]:
a,b='manmohan','krishna'
type(a),type(b)
print(a+b)
len(a),len(b)
i='            Tiwari Krishna'
i.lower()
i.upper()
i.rjust(80)
i.rjust(len(i))
j=i.ljust(90)
j

manmohankrishna

'            Tiwari Krishna                                                                '

In [56]:
i.lstrip()

'Tiwari Krishna'

In [58]:
#replace certain character
a='Bhimtal to Nainital and then Bhowali to Almora'
a.replace('i','1')

'Bh1mtal to Na1n1tal and then Bhowal1 to Almora'

In [59]:
#split the string, this return the list
a.split('a')

['Bhimt', 'l to N', 'init', 'l ', 'nd then Bhow', 'li to Almor', '']

In [60]:
a.split('i')

['Bh', 'mtal to Na', 'n', 'tal and then Bhowal', ' to Almora']

In [61]:
type(a.split(i)) #this return a list

list

In [77]:
x='hello krishna Chandra tiwari'
x[2]
len(x)
x[-12:-8]
x[-4:-1]

'war'

In [81]:
x[:9]
x[3:-8]

'lo krishna Chandr'